.hamburger-menu .menu, .card-overlay, .card-img, .story-card-img, .card-menu-img, .card-gallery-img {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #262626; }

.navbar {
  position: relative;
  z-index: 200; }
  .navbar-navigation {
    display: flex; }
    .navbar-navigation-left {
      width: 50vw;
      height: 100vh;
      background-color: #262626;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1);
      -webkit-transition: left 0.8s cubic-bezier(1, 0, 0, 1);
      -moz-transition: left 0.8s cubic-bezier(1, 0, 0, 1);
      -ms-transition: left 0.8s cubic-bezier(1, 0, 0, 1);
      -o-transition: left 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 800px) {
        .navbar-navigation-left {
          display: none; } }
      .navbar-navigation-left .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
        opacity: .7;
        border-radius: 10px; }
        @media (max-width: 1300px) {
          .navbar-navigation-left .left-img {
            width: 55%; } }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img {
            width: 65%; } }
      .navbar-navigation-left .left-img-1 {
        top: 15%;
        left: 15%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-1 {
            left: 5%; } }
      .navbar-navigation-left .left-img-2 {
        top: 35%;
        left: 25%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-2 {
            left: 15%; } }
      .navbar-navigation-left .left-img-3 {
        top: 55%;
        left: 35%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-3 {
            left: 25%; } }
    .navbar-navigation-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 800px) {
        .navbar-navigation-right {
          width: 100vw;
          right: -100vw; } }
    .navbar-navigation .nav-list-item {
      list-style: none; }
    .navbar-navigation .nav-list-link {
      font-family: "Dancing Script", Cursive;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize;
      color: #bbb;
      text-decoration: none;
      display: block;
      text-align: center;
      transition: all .5s; }
      .navbar-navigation .nav-list-link:hover {
        color: #d3ab55;
        letter-spacing: 4px; }
      @media (max-width: 600px) {
        .navbar-navigation .nav-list-link {
          font-size: 40px; } }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0; }

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
  -webkit-transform: rotateZ(-40deg);
  -moz-transform: rotateZ(-40deg);
  -ms-transform: rotateZ(-40deg);
  -o-transform: rotateZ(-40deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0; }

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
  -webkit-transform: rotateZ(40deg);
  -moz-transform: rotateZ(40deg);
  -ms-transform: rotateZ(40deg);
  -o-transform: rotateZ(40deg); }

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover;
  position: relative; }
  .header .brand {
    display: flex;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center; }
    @media (max-width: 500px) {
      .header .brand {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .header-banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.about-us {
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0; }
  @media (max-width: 990px) {
    .about-us {
      display: flex;
      font-size: 35px;
      flex-basis: 70%; } }
  .about-us-left {
    width: 40%;
    position: relative;
    left: -200px; }
    @media (max-width: 1300px) {
      .about-us-left {
        left: -150px; } }
    @media (max-width: 800px) {
      .about-us-left {
        display: none; } }
    .about-us-left img {
      width: 100%;
      opacity: .7; }
  .about-us-right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box; }
    @media (max-width: 1300px) {
      .about-us-right {
        padding: 0 50px; } }
    @media (max-width: 800px) {
      .about-us-right {
        width: 100%; } }
    .about-us-right .stars {
      margin: 30px 0; }
      @media (max-width: 1000px) {
        .about-us-right .stars {
          margin: 15px 0; } }
    .about-us-right .star {
      font-size: 15px;
      color: #d3ab55;
      margin-left: 20px; }
      @media (max-width: 1000px) {
        .about-us-right .star {
          font-size: 12px; } }
    .about-us-right .description {
      font-family: "Josefin Sans", sans-serif;
      font-size: 25px;
      font-style: italic;
      color: #bbb;
      text-align: justify; }
      .about-us-right .description::first-letter {
        padding-left: 50px; }
      @media (max-width: 1600px) {
        .about-us-right .description {
          font-size: 18px; } }
      @media (max-width: 1100px) {
        .about-us-right .description {
          font-size: 15px; } }
      @media (max-width: 800px) {
        .about-us-right .description {
          font-size: 12px; } }

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap; }

.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media (max-width: 500px) {
    .footer {
      padding: 40px 0; } }
  .footer-header {
    display: flex;
    align-items: center;
    margin-bottom: 70px; }
  .footer .social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 70px; }
    @media (max-width: 500px) {
      .footer .social-media {
        width: 200px;
        margin-bottom: 40px; } }
    .footer .social-media-item {
      list-style: none; }
    .footer .social-media-link {
      text-decoration: none;
      font-size: 50px;
      color: #bbb;
      transition: color .7s; }
      .footer .social-media-link:hover {
        color: #d3ab55; }
      @media (max-width: 1000px) {
        .footer .social-media-link {
          font-size: 30px; } }
      @media (max-width: 500px) {
        .footer .social-media-link {
          font-size: 25px; } }
  .footer-copyright-paragraph {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #bbb;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize; }
  @media (max-width: 800px) {
    .footer {
      width: 70%;
      margin: auto;
      text-align: center; } }
  @media (max-width: 500px) {
    .footer {
      font-size: 14px; } }

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300; }
  @media (max-width: 800px) {
    .hamburger-menu {
      width: 35px;
      height: 35px; } }
  @media (max-width: 500px) {
    .hamburger-menu {
      width: 25px;
      height: 25px; } }
  .hamburger-menu .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform .5s; }
    .hamburger-menu .menu-line {
      width: 100%;
      height: 4px;
      background-color: #d3ab55;
      transform-origin: right;
      transition: all .5s .5s;
      -webkit-transition: all .5s .5s;
      -moz-transition: all .5s .5s;
      -ms-transition: all .5s .5s;
      -o-transition: all .5s .5s; }
      @media (max-width: 800px) {
        .hamburger-menu .menu-line {
          height: 3px; } }
      @media (max-width: 500px) {
        .hamburger-menu .menu-line {
          height: 2px; } }

.logo {
  font-size: 70px;
  color: #d3ab55;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 110px;
  height: 100px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  margin-right: 20px; }
  @media (max-width: 1000px) {
    .logo {
      font-size: 50px;
      width: 90px;
      height: 90px; } }
  @media (max-width: 800px) {
    .logo {
      height: 50px;
      width: 50px;
      font-size: 30px;
      border-width: 2px; } }

.main-name {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media (max-width: 1000px) {
    .main-name {
      font-size: 40px; } }
  @media (max-width: 500px) {
    .main-name {
      font-size: 20px;
      text-align: center; } }

.sub-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #bbb;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media (max-width: 500px) {
    .sub-name {
      font-size: 12px;
      text-align: center; } }

.main-heading {
  font-family: "Dancing Script", Cursive;
  font-size: 100px;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 40px; }
  @media (max-width: 1600px) {
    .main-heading {
      font-size: 80px; } }
  @media (max-width: 1000px) {
    .main-heading {
      font-size: 60px; } }
  @media (max-width: 500px) {
    .main-heading {
      font-size: 40px;
      margin-bottom: 20px; } }

.sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 80px;
  text-align: center; }
  @media (max-width: 1600px) {
    .sub-heading {
      font-size: 50px;
      margin-bottom: 50px; } }
  @media (max-width: 1300px) {
    .sub-heading {
      font-size: 40px;
      margin-bottom: 30px; } }
  @media (max-width: 1000px) {
    .sub-heading {
      font-size: 30px; } }
  @media (max-width: 500px) {
    .sub-heading {
      font-size: 20px;
      margin-bottom: 10px; } }

.main-btn {
  width: 170px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  outline: none;
  cursor: pointer;
  transition: all .4s; }
  .main-btn:hover {
    background-color: #d3ab55;
    color: #262626; }
  @media (max-width: 800px) {
    .main-btn {
      width: 150px;
      height: 35px;
      font-size: 12px; } }
  @media (max-width: 500px) {
    .main-btn {
      width: 130px;
      height: 30px;
      font-size: 10px; } }

.card {
  width: 33.3333%;
  height: 33vw;
  position: relative;
  overflow: hidden; }
  .card:hover .card-overlay {
    left: 0; }
  .card-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(211, 171, 85, 0.6);
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left .7s; }
    .card-overlay-heading {
      font-family: "Nunito", sans-serif;
      font-size: 40px;
      text-align: center;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize; }
      @media (max-width: 900px) {
        .card-overlay-heading {
          font-size: 35px; } }
      @media (max-width: 650px) {
        .card-overlay-heading {
          font-size: 25px; } }
      @media (max-width: 500px) {
        .card-overlay-heading {
          font-size: 10px; } }
    .card-overlay-paragraph {
      font-family: "Josefin Sans", sans-serif;
      font-size: 30px;
      margin-bottom: 30px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize; }
      @media (max-width: 900px) {
        .card-overlay-paragraph {
          font-size: 20px; } }
      @media (max-width: 650px) {
        .card-overlay-paragraph {
          font-size: 15px; } }
      @media (max-width: 500px) {
        .card-overlay-paragraph {
          display: none; } }
    .card-overlay-btn {
      width: 150px;
      height: 40px;
      color: #d3ab55;
      background-color: #fff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid #d3ab55;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
      transition: all .2s;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s; }
      .card-overlay-btn:hover {
        color: #262626;
        letter-spacing: 2px; }
      @media (max-width: 900px) {
        .card-overlay-btn {
          font-size: 12px;
          width: 130px;
          height: 30px; } }
      @media (max-width: 650px) {
        .card-overlay-btn {
          font-size: 10px;
          width: 100px;
          height: 30px; } }
  .card-img {
    object-fit: cover;
    opacity: 0.5; }

.our-story {
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0; }
  @media (max-width: 990px) {
    .our-story {
      display: flex;
      font-size: 35px;
      flex-basis: 70%; } }
  .our-story-center {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 130px;
    box-sizing: border-box; }
    @media (max-width: 1100px) {
      .our-story-center {
        padding: 0 80px; } }
    @media (max-width: 800px) {
      .our-story-center {
        padding: 0 30px; } }
    .our-story-center .stars {
      margin: 30px 0; }
      @media (max-width: 1000px) {
        .our-story-center .stars {
          margin: 15px 0; } }
    .our-story-center .star {
      font-size: 15px;
      color: #d3ab55;
      margin-left: 20px; }
      @media (max-width: 1000px) {
        .our-story-center .star {
          font-size: 12px; } }
    .our-story-center .description {
      font-family: "Josefin Sans", sans-serif;
      font-size: 25px;
      font-style: italic;
      color: #bbb;
      text-align: justify;
      word-spacing: .1rem;
      line-height: 1.6rem; }
      .our-story-center .description span {
        color: #d3ab55; }
      .our-story-center .description::first-letter {
        padding-left: 50px; }
      @media (max-width: 1600px) {
        .our-story-center .description {
          font-size: 18px; } }
      @media (max-width: 1100px) {
        .our-story-center .description {
          font-size: 15px;
          padding: 0 60px; } }
      @media (max-width: 800px) {
        .our-story-center .description {
          font-size: 14px;
          padding: 0 30px; } }

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap; }

.story-card {
  width: 33.3333%;
  height: 33vw;
  position: relative;
  overflow: hidden; }
  .story-card-img {
    object-fit: cover;
    opacity: 0.5; }

.gallery-menu .cards-wrapper {
  display: flex;
  flex-wrap: wrap; }

.card-menu {
  flex-basis: 100%;
  overflow: visible;
  padding: 0 100px; }
  @media (max-width: 500px) {
    .card-menu {
      padding: 0 20px; } }
  .card-menu-img {
    object-fit: fill;
    padding-top: 60px; }
    @media (max-width: 500px) {
      .card-menu-img {
        padding-top: 20px; } }

.header-gallery {
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover;
  position: relative; }
  .header-gallery .brand {
    display: flex;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center; }
    @media (max-width: 500px) {
      .header-gallery .brand {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .header-gallery-banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.gallery-img .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
  padding-bottom: 40px; }

.card-gallery {
  width: 50%;
  height: 50vw;
  position: relative;
  overflow: hidden; }
  .card-gallery-img {
    object-fit: cover;
    opacity: 0.7;
    padding: 40px; }

.contact-us {
  flex-basis: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .contact-us-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 70px 0; }

.main-heading-wrapper {
  font-family: "Dancing Script", Cursive;
  font-size: 80px;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 40px;
  text-align: center; }

.main-btn-top {
  width: 400px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  outline: none;
  cursor: pointer;
  transition: all .4s; }
  .main-btn-top:hover {
    background-color: #d3ab55;
    color: #262626; }
  @media (max-width: 350px) {
    .main-btn-top {
      font-size: 9px;
      margin-left: 15px; } }

.main-btn-bottom {
  width: 400px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  outline: none;
  cursor: pointer;
  transition: all .4s; }
  .main-btn-bottom:hover {
    background-color: #d3ab55;
    color: #262626; }
  @media (max-width: 350px) {
    .main-btn-bottom {
      font-size: 9px; } }
