.about-event {
    //height of about-us section
    // height: 90vh;
    flex-basis: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    padding: 20px 0;

    @media(max-width: 990px){
        display:flex;
        font-size: 35px;
        flex-basis: 70%;
    }

    &-left{
        width: 50%;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;

        @media(max-width: 800px){
            flex-basis: 100%;
            padding-bottom: 20px;
        }
       

        img {
            width: 30vw;
            height: 30vw;
            opacity: .7;
            @extend %fullSpace;
            object-fit: cover;
            align-items: center;

            @media(max-width: 800px){
                width: 60vw;
                height: 60vw;
            }
            @media(max-width: 500px){
                width: 50vw;
                height: 50vw;
            }
        }



    }

    &-right{ 
        width: 50%;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;

        @media(max-width: 1300px){
            padding: 0 50px; 
        }

        @media(max-width:800px){
            flex-basis: 100%;
        }


        .stars {
            margin: 30px 0;

            @media(max-width: 1000px){
                margin: 15px 0;
            }
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 20px;

            @media(max-width: 1000px){
                font-size: 12px ;
            }
        }

        .description {
            font-family: $font-josefinSans;
            font-size: 25px;
            font-style: italic;
            color: $color-secondary;
            text-align: justify;

            &::first-letter {
                padding-left: 50px;
                text-transform: uppercase;
            }

            @media(max-width: 1600px){
                font-size: 23px;
            }
            @media(max-width: 1100px){
               font-size: 20px;
            }
            @media(max-width: 800px){
                font-size: 14px;
                text-align: left;
                width: 70%
             }
             @media(max-width: 500px){
                font-size: 12px;
                text-align: left;
                width: 100%;
             }
        }
    }

};

