

// About us section
.our-story{
    //height of about-us section
    // height: 90vh;
    flex-basis: 90%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    padding: 20px 0;

    @media(max-width: 990px){
        display:flex;
        font-size: 35px;
        flex-basis: 70%;
    }


    &-center {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 130px;
        box-sizing: border-box;

        @media(max-width: 1100px){
            padding: 0 80px;
         }
         @media(max-width: 800px){
             padding: 0 30px;
         }

        .stars {
            margin: 30px 0;

            @media(max-width: 1000px){
                margin: 15px 0;
            }
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 20px;

            @media(max-width: 1000px){
                font-size: 12px ;
            }
        }

        .description {
            font-family: $font-josefinSans;
            font-size: 25px;
            font-style: italic;
            color: $color-secondary;
            text-align: justify;
            word-spacing: .1rem;
            line-height: 1.6rem;

                span{
                color: $color-primary;
            }

            &::first-letter {
                padding-left: 50px;
                // color: $color-primary;
            }

            @media(max-width: 1600px){
                font-size: 18px;
            }
            @media(max-width: 1100px){
               font-size: 15px;
               padding: 0 60px;
            }
            @media(max-width: 800px){
                font-size: 14px;
                padding: 0 30px
            }
        }

    }
};

//Gallery
.gallery {
    .cards-wrapper {
        display:flex;
        flex-wrap: wrap;
    }
}