
//gallery
.card-gallery {
    width: 50%;
    height: 50vw;
    position: relative;
    //hide orange overlay cover
    overflow: hidden;

    //make img fit in
    &-img {
        @extend %fullSpace;
        object-fit: cover;
        opacity: 0.7;
        padding: 40px;
    }
}